* {
  box-sizing: border-box;
  margin: 0;
  font-family: american typewriter;
  @font-face {
    font-family: american typewriter;
    src: url(./fonts);
  }
}

section {
  margin: 20px;
  background-image: url(./images/Old-Indexcard.jpg);
  position: relative;
}

.hidden {
  display: none;
}

.index-card__answer {
  color: deeppink;
}

h1,
h2,
p {
  font-family: american typewriter;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.index-card--container-icon__bookmark,
.index-card--container-icon__bookmark-set {
  width: 5em;
  position: absolute;
  top: -18px;
  right: 0px;
}

.index-card--container-icon__bookmark {
  z-index: 1;
}

.index-card--icon__bookmark:hover,
.index-card--icon__bookmark-set:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  font-size: 1.1rem;
  text-align: right;
  background-color: transparent;
  width: 100%;
  padding: 10 50px;
  border: none;
}
.button__answer {
  color: deeppink;
}
.button__answer:hover {
  cursor: pointer;
}

.button__question:hover {
  cursor: pointer;
}
nav {
  width: 100%;
  position: fixed;
  bottom: 1em;
}
ul.categories {
  font-size: 0.8rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

li {
  width: 50px;
}
.form {
  text-align: center;
  display: block;
}
label {
  display: block;
}

.button__send {
  text-align: center;
}
.button__send:hover {
  cursor: pointer;
}
